<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gestion de Clientes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center mb-4">Gestion de Clientes</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex flex-column align-items-start">

        <a th:href="@{/clientes/crear}" class="btn btn-info mb-5 btn-lg mb-3">
          <i class="fas fa-plus-circle"></i>Crear Cliente
        </a>

        <a href="#" id="editarButton" class="btn btn-info mb-5 btn-lg mb-3" disabled>
          <i class="fas fa-edit"></i>Editar Cliente
        </a>

        <a href="#" id="eliminarButton" class="btn btn-danger mb-5 btn-lg mb-3" th:attr="disable=${ClienteSeleccionadoId == null}">
          <i class="fas fa-trash-alt"></i>Eliminar Cliente
        </a>

      </div>
    </div>
    <!--formularios crear editar eliminar 9de12-->
    <div class="col-md-9">
      <!--formulario crearcliente-->
      <div id="formularioCrearCliente" th:if="${mostrarFormularioCrearCliente}">
        <h4>Crear Proveedor</h4>
        <form th:action="@{/clientes/crear}" th:method="post" th:object="${cliente}">

          <div class="mb-3">
            <label for="cli_id" class="form-label">Nit o Cedula</label>
            <input type="number" class="form-control" id="cli_id" th:field="*{cli_id}" required></input>
          </div>

          <div class="mb-3">
            <label for="cli_nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="cli_nombre" th:field="*{cli_nombre}" required></input>
          </div>

          <div class="mb-3">
            <label for="cli_telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="cli_telefono" th:field="*{cli_telefono}" required></input>
          </div>

          <div class="mb-3">
            <label for="cli_direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="cli_direccion" th:field="*{cli_direccion}" required></input>
          </div>

          <div class="mb-3">
            <label for="cli_correo" class="form-label">Correo</label>
            <input type="text" class="form-control" id="cli_correo" th:field="*{cli_correo}" required></input>
          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>

      <div id="formularioEditarCliente" th:if="${mostrarFormularioEditarCliente}">
        <h5>Editar Proveedor</h5>
        <form th:action="@{/clientes/editar}" th:method="post" th:object="${clienteSeleccionado}">
          <input type="hidden" th:field="*{cli_id}">

          <div class="mb-3">
            <label for="editarnitcliente" class="form-label">Rut</label>
            <input type="text" class="form-control" id="editarnitcliente" th:field="*{cli_id}" readonly>
          </div>

          <div class="mb-3">
            <label for="editarnombrecliente" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="editarnombrecliente" th:field="*{cli_nombre}" required>
          </div>

          <div class="mb-3">
            <label for="editartelefonocliente" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="editartelefonocliente" th:field="*{cli_telefono}" required>
          </div>

          <div class="mb-3">
            <label for="editardireccioncliente" class="form-label">Direccion</label>
            <input type="text" class="form-control" id="editardireccioncliente" th:field="*{cli_direccion}" required>
          </div>

          <div class="mb-3">
            <label for="editarcorreocliente" class="form-label">Correo</label>
            <input type="text" class="form-control" id="editarcorreocliente" th:field="*{cli_correo}" required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
      </div>

      <!-- ventana eliminarproveedor -->
      <div th:if="${mostrarConfirmacionEliminarCliente}">
        <h5>¿Está seguro de que desea eliminar este Cliente?</h5>
        <form th:action="@{/clientes/eliminar}" th:method="post">
          <input type="hidden" name="clienteId" th:value="${clienteId}">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <a href="#" class="btn btn-secondary" th:onclick="|location.href='@{/clientes}'|">Cancelar</a>
        </form>
      </div>
    </div>
  </div>

  <!--parte inferior-->
  <div class="mt-5">
    <!--barra de busqueda-->
    <form th:action="@{/clientes/buscar}" method="get">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar por Nombre,Cedula o Nit"
               th:value="${citerioBusquedaCliente}" name="citerioBusquedaCliente">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i>Buscar
        </button>
      </div>
    </form>
    <!--Lista de Clientes-->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Seleccionar</th>
        <th>Nit/Cedula</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Correo</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cliente : ${clientes}">
        <td>
          <input type="checkbox" th:data-rut="${cliente.cli_id}" onclick="seleccionarCliente(this.getAttribute('data-rut'))">
        </td>
        <td th:text="${cliente.cli_id}"></td>
        <td th:text="${cliente.cli_nombre}"></td>
        <td th:text="${cliente.cli_telefono}"></td>
        <td th:text="${cliente.cli_direccion}"></td>
        <td th:text="${cliente.cli_correo}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGz1PoqLzYjUrw6Up8zjUL9d5IpVVvg6Vrdp9B8O7N9c2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-wQ1mZ6ywI9ZPAmW2JvM5PeRWE5yk5TLZZ6bN5dvAuU6pZ7I3UwJREpwaWtrD9D1y" crossorigin="anonymous"></script>6
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

<script>
  let ClienteSeleccionadoId = null;

  function seleccionarCliente(id) {
    ClienteSeleccionadoId = id;
    const editarButton = document.getElementById("editarButton");
    const eliminarButton = document.getElementById("eliminarButton");

    editarButton.disabled = false;
    eliminarButton.disabled = false;

    editarButton.href = `/clientes/editar/${ClienteSeleccionadoId}`;
    eliminarButton.href = `/clientes /eliminar/${ClienteSeleccionadoId}`;
  }
</script>
</body>
</html>